<!--comment--><web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>WeatherServlet</servlet-name>
        <servlet-class>com.your.example.WeatherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WeatherServlet</servlet-name>
        <url-pattern>/weather</url-pattern>
    </servlet-mapping>
</web-app>

